{% extends "bootstrap.html" %}
{% from "_formhelpers.html" import render_field %}
{% block body %}

<div class="container">
  {% if session.logged_in %}
    <form action="{{ url_for('add_post') }}" method=post class=add-entry enctype="multipart/form-data">
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title>
        <dt>Text:
        <dd><textarea name=text></textarea>
        <dd><input type=file name=file>
        <dd><input type=submit value=Share>
      </dl>
    </form>
  {% endif %}
{% endblock %}
