{% form "_formhelpers.html" import render_field %}
{% block comment %}
  {% if session.logged_in %}
    <form action="{{ add_comment }}" method=post class="add_comment">
     {{ render_field(comment_form.comment) }} 
     <input type=submit value=Comment>
  {% endif %}
  {% for comment in comments %}
    <h2>{{ comment }}</h2>
  {% endfor %}
{% endblock %}
