{% extends "bootstrap.html" %}
{% from "_formhelpers.html" import render_field %}
{% block body %}
  {% if session.logged_in %}
    <div class="container">
    <div class=hero-unit>
    <form action="{{ url_for('update_post', post_id=post_id, __METHOD_OVERRIDE__='PUT') }}", method='POST', class=add-entry>
      <dl>
        <dt>Title:
        <dd><input type=text size=30 name=title value="{{ post.title }}">
        <dt>Text:
        <dd><textarea name=text>{{ post.text }}</textarea>
        <dd><input type=submit value=Share>
      </dl>
    </form>
    </div>
    </div>
  {% endif %}
{% endblock %}
