{% extends "bootstrap.html" %}
{% from "_formhelpers.html" import render_field %}
{% block body %}
<div class=container>
<div class=hero-unit>
<form method=post action="/register">
  <dl>
    {{ render_field(register_form.username) }}
    {{ render_field(register_form.email) }}
    {{ render_field(register_form.password) }}
    {{ render_field(register_form.confirm) }}
    {{ render_field(register_form.accept_tos) }}
  </dl>
  <p><input type=submit value=Register>
</form>
</div>
</div>
{% endblock %}
