{% extends "bootstrap.html" %}
{% from "_formhelpers.html" import render_field %}
{% block body %}

<div class="container">
  {% for entry in entries %}
  <div class="hero-unit">
    <h1>{{ entry.title }}</h1>
    <p>{{ entry.text }}</p>
    <a href="/posts/{{ entry.id }}"><input type=button value="View Detail"></a>
  </div>
  {% endfor %}
{% endblock %}
