{% extends "bootstrap.html" %}
{% from "_formhelpers.html" import render_field %}
{% block body %}
<script type=text/javascript>
    $(function() {
        $("#comment_submit").click(function() {
            alert("Good");
            $.ajax({
                type: "POST",
                url: "{{ url_for('add_comment', post_id=post_id) }}",
                contentType: "application/json; charset=utf-8",
                data: $('#comment').val(),
                success: function(data) {
                    $('#comments h2:last').append("<br />" + data.value + "<br />");
                }
            });
        });
    });
</script>
    <div class=container>
        <div class=hero-unit>
        {% for entry in entries %}
            <h2>{{ entry }}</h2>
        {% endfor %}
        {% if filename %}
        <img src="{{ url_for('view_image', filename=filename) }}">
        {% endif %}
        </div>
    </div>
{% endblock %}
{% block comment %}
    {% if session.logged_in %}
<!--        <form action="{{ url_for('add_comment', post_id=post_id) }}" method=post class="add_comment"> -->
            {{ render_field(comment_form.comment) }}
            <input type=submit value=Comment id=comment_submit>
    {% endif %}
    <div id=comments>
        {% for comment in comments %}
           <h2>{{ comment }}</h2>
        {% endfor %}
    </div>
{% endblock %}
